<div class='panel panel-default'>
  <!-- Default panel contents -->
  <div class='panel-heading'>
    <h4><%= @department.name %></h4>
  </div>

  <div class='panel-body'>
    <p><%= @department.description %></p>
  </div>

    <!-- Table -->
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Staff</th>
          <th>Title</th>
          <th>Office</th>
        </tr>
      </thead>

      <tbody>
        <% @department.staffs.each do |staff| %>
          <tr>
            <td><%= link_to staff.name_full, staff %></td>
            <td><%= staff.title %></td>
            <td><%= link_to staff.office.location, office_path(staff.office_id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

</div>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
